:root{
    --main-color: #212121;
    --color-grey-green: #386457;
    --color-sky-: #2196F3;
    --color-milk-: #FFFFFF;
}
.is-hidden {
    /* opacity: 0; */
    visibility: hidden;
    pointer-events: none;

}
.no-scroll{
    overflow: hidden;
}
/*    //////////////////   */

 .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    /* opacity: 1;
    visibility: visible; */
    
}  

.modall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms linear;
    width: 528px;
    min-height: 581px;
    background-color: #f4f1f1;
    padding: 40px;
    border-radius: 4px;
    /* opacity: 1; */
  

}
/* .modal2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms linear;
    width: 528px;
    height: 581px;
    background-color: #F5F5F5;
    padding: 40px;
    border-radius: 4px;
    visibility: visible;
    opacity: 0;

} */
.modal-header{
    width: 300px;

}

.button_modal {
    position: absolute;
    top: 8px;
    right: 8px;
   

    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

}
.modal_close {
    width: 11px;
    height: 11px;
    top: 60px;
    /* display: inline-block; */
    margin-top: 5px;
    stroke-width: 0;

    fill: currentColor;
}
.modal_close:hover {
    fill: #2196F3
}
.modal_title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #386457;
    
    

}
.modal_text {
    width: 195px;
    height: 58px;
    margin: auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 40px;
    margin-top: 5px;
}
.modal_text_title{
    width: 270px;
        height: 58px;
        margin: auto;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 40px;
        margin-top: 5px;
}
.create_link{
 
}
.link_wrap{
    width: 300px;
    height: 40px;
    border-radius: 2px;
    background: #3a854e;
    /* background-color: #386457; */
    color: #E5E5E5;
    border: none;

   
}
.form_modal{
    width: 300px;
    height: 40px;
    border: none;
    margin-left: auto;
        margin-right: auto;
}
.input{
  margin-bottom: 10px;
  
}
.form {
    width: 300px;
    height: 40px;
    background: #E5E5E5;
    border:none;
    margin: auto;
    outline: #d0d0d0;

}
.form::placeholder{
    padding-left: 10px;
}

.forgot-password{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.09%;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;

}
.entrance{
    width: 300px;
    height: 40px;
    background-color: #386457;
    border: 1px solid #386457;
    border-radius: 1px;
    margin-bottom: 40px;

}
.entrance_link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 134.09%;
    align-items: center;
    
    
}
.Create_account{
    width: 300px;
    height: 40px;
    border: 1.5px solid #386457;
    border-radius: 1px;
}
.create_link{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
       
    color: #386457;
}
/*    ///////////////////         */
.icon_svg_ua {
width: 20px;
height: 14px;
margin-right: 180px;



}
.header_input {
    
    /* margin-right: 110px;  */
    color: var(--color-grey-green);
   margin-top: 15px;
    cursor: pointer;
}
.input_button {
    margin-right: 19px;
    border: none;
    background-color: transparent;
    /* padding: 9px; */
    margin-top: 14px;
    cursor: pointer;

}
.header{
    
   
}
.section_main_input{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}
.section_main{
    background-image: url(../img/bacgraund1.jpg);
    background-repeat: no-repeat;
    width: 1920px;
    /* width: max-content; */
    height: 800px;
    height: 100%;
    margin: auto;
    padding-top: 22px;
    
}
.header_news{
    
    background-image: url(../img/10745.jpg);
    background-repeat: no-repeat;
    width: max-content;
    height: 100%;
    height: 500px;
    margin:auto;
    width: 1920px;
    padding-top: 30px;

}
.header_publication{
    background-image: url(../img/bacgraund4S.jpg);
    background-repeat: no-repeat;
    width: max-content;
    height: 100%;
    height: 500px;
    margin: auto;
    width: 1920px;
    padding-top: 30px;
}
.header_gallery{
    background-image: url(../img/544154-PJQCZ4-159.jpg);
    background-repeat: no-repeat;
    width: max-content;
    height: 100%;
    height: 500px;
    margin: auto;
    width: 1920px;
    padding-top: 30px;
}
.header_contents{
    background-image: url(../img/bacgraund3S.jpg);
    background-repeat: no-repeat;
    width: max-content;
    height: 100%;
    height: 500px;
    margin: auto;
    width: 1920px;
    padding-top: 30px;
}
.header_create{
    background-image: url(../img/bacgraund1S.jpg);
    background-repeat: no-repeat;
    width: max-content;
    height: 100%;
    height: 500px;
    margin: auto;
    width: 1920px;
    padding-top: 30px;
}
.container{
    width:1170px;
   
}
.header_menu{
/* height: 500px; */
align-items: center;

}
.header_menu_news{
    padding-top: 30px;
    
}
.topmenu {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .submenu {
     position: absolute;
   
     min-width: 200px;
     background: transparent;
     list-style: none;
    
    visibility: hidden;
     opacity: 1;
     transform-origin: 0% 0%;
     transform: rotateX(-90deg);
     transition: .3s linear;
 }
 .list_item_menu:hover .submenu{
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
 }
.ul{
    list-style: none;
    text-decoration: none;
}
.list_item{
    margin-right: 50px;
    display: block;
    transition: .3s linear;
}
.list_item_menu{
    float: left;
    position: relative;
    text-decoration: none;
    margin-right: 35px;
    

}
.menu_link{
    text-decoration: none;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #386457;
    
}
.menu_links{
    text-decoration: none;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
    
        color: #fdfdfd;
}

.menu_btn{
    font-family: Merriweather;
    font-weight: 400px;
    font-size: 18px;
    line-height: 23px;
    /* color: var(--color-grey-green);
        text-decoration: none; */

    padding: 10px;
    background-color: transparent;
    border: none;

}
.menu_btn_news{
    font-family: Merriweather;
        font-weight: 400px;
        font-size: 18px;
        line-height: 23px;
        color: var(--color-milk-);
    
    
        padding: 10px;
        background-color: transparent;
        border: none;
}
/* .btn_links{
    color: var(--color-milk-);
    text-decoration: none;

} */
.list_item:last-child{
    margin-right: 0;
}


/*  */
.dropdown_link{
    color: rgb(3, 61, 42);
    padding-top:  16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    display: block;
    text-align: start;
}
.dropdown_links{
    color: #FFFFFF;
    padding-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    display: block;
    text-align: start;
}
.logo_icon_link{}
.icon_svg{
    fill: var(--color-grey-green);
}
.icons_svg{
    fill: #FFFFFF;
}
.btn_logo{
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
}
/*  */
h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}
.title_hero{
    font-family: Merriweather;
    font-weight: 400px;
    font-size: 64px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    
    margin-bottom: 45px;
    margin-top: 110px;
    
}
.title_hero_news {
    font-family: Merriweather;
    font-weight: 400px;
    font-size: 64px;
    /* line-height: 20px; */
    text-align: center;
    color: #FFFFFF;
    height: 70px;
    margin-top: 50px;

}
.button_left{
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);

    width: 52px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #ffffff87;
    background-color: transparent;
    fill: #ffffff87;
    font-size: 32px;
}
.button_left:hover{
    color: #FFFFFF;
    fill: #FFFFFF;
}
.button_right {
    position: absolute;
    
    top: 25%;
    left: 80%;
    transform: translate(-50%, -50%);

    width: 53px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #ffffff87;
    background-color: transparent;
    color: #cd11118b;
    font-size: 32px;
}
.button_right:hover .svg {
    color:#FFFFFF;
    fill: #FFFFFF;

}
.svg {
    /* position: absolute; */
    width: 25px;
    height: 25px;
    margin-bottom: 15px;
    fill: #4b484845;

}
.div_menu_slider {
    display: flex;
    justify-content: center;
}
.div_menu_slider_list{
     width: 14px;
     height: 14px;
     background-color: aliceblue;
     margin-right: 45px;
     margin-bottom: 40px;
     border-radius: 50%;
}
.div_menu_slider_list2 {
    width: 15px;
    height: 15px;
    border: 1px solid #FFFFFF;
    background-color:transparent;
    margin-right: 50px;
    margin-bottom: 35px;
    border-radius: 50%;
}
.title_hero_slide{
    position: relative;
}


.content{
    width: 970px;
    height: 80px;
    color: rgba(0, 0, 0, 0.7);
    text-align:start;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    font-size: 18px;
    
}

.archiv_colum{
  
}
.content_title_hero{
    width: 700px;
    height: 335px;

    /* color: rgba(0, 0, 0, 0.7); */
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    /* padding-top: 30px; */
}
.title{
    color: var(--color-grey-green);
    font-weight: 400;
    font-size: 42px;
    line-height: 20px;
    text-align: center;
    
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 40px;

}
.new{
    width: 270px;
    height: 450px;

    margin-right: 30px;
    
    box-shadow: 3px 8px 5px 5px rgba(192, 192, 192, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 1px 1px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* background-color: 0px, 20px rgba(0, 0, 0, 0.1); */
    background-color: #E5E5E5;
}
.news{
    width: 270px;
    height: 450px;
    margin-right: 30px;
    box-shadow: 3px 8px 5px 5px rgba(192, 192, 192, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 1px 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.section_new{
     /* margin-left: auto;
     margin-right: auto; */
    position: relative;
    background-color: #E5E5E5;
    width: 1920px;
    margin: auto;
    
}
.section_news{
    
      
        width: 1920px;
        margin: 0 auto;
}
.item_news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 0 auto;
    gap: 10px;
    width: 930px;

}
.section_wrap{
    display: flex;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 100px;
    /* width: 1820px; */

}
.section_wrap{
    display: flex;
        justify-content: center;
        margin-top: 46px;
        margin-bottom: 100px;
}
.new_images{
    background-color: #fffefe;
}
.item_new{
    display: flex;
    justify-content: center;
    
    padding-bottom: 50px;
    
}


.title_new{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: start;
    color: var(--color-grey-green);
    
}
.text_title_new{
    color: rgba(0, 0, 0, 0.7);
    width: 270px;
    padding-left: 20px;
    padding-bottom: 48px;

}
.title_team{
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    color: var(--color-grey-green);
    
}
.ruby{
    width: 330px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);

}
.section_our_team{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.Our_team{
    width: 330px;
    align-items: center;
    margin-right: 70px;

}
.Our_team:last-child{
    margin-right: 0;
}
.img_team{
   margin-left: auto;
   margin-right: auto;

}
.Job_title{
    color:var(--color-grey-green);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
     padding-top: 10px;
     padding-bottom: 18px;

}
.footer{
    width: 1920px;
    margin: auto;
    height: 300px;
    background-color: #386457;

   
}
.footer_flex_container{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:space-evenly;
}
.footer_box {
    width: 166px;
    text-align: start;
    margin-top: 40px;
}
.text_svg{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 20px;

}
.icon_svg_footer{
    width: 100px;
    height: 100px;
    fill: #FFFFFF;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    margin-bottom: 15px;
}
.address-link{
    
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 20px;

}
.footer_list_link{
    color: var(--color-milk-);
    font-size: 18px;
    line-height: 20px;
    
    padding-bottom: 20px;
    text-decoration: none;
    
}

.footer_menu_list{
    margin-bottom: 20px;

}
.contact{
    /* cursor:none; */

}
.footer_menu{
    margin-left: 0px;
} 

.sidenav {
    /* position: absolute; */
    height: 940px;
     width: 264px; 
    margin-top: 20px;
        /* position: fixed; */
     z-index: 18;
       
    background-color: #d0d0d0;
    overflow-x: hidden;
    }
/* .............. */

.archiv{
    width: 730px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    margin-left: 40px;
    margin-bottom: 100px;
    
}
.archiv_text{
    margin-left: 40px;
}
.content_archiv {
    color: rgba(0, 0, 0, 0.7);
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    width: 480px;


}
.archiv_img{
    margin-top: 70px;
    margin-left: 30px;
    width: 200px;
    height: 300px;

}
.sidenav_archiv{

 height: 1200px;
 width: 270px;
 margin-top: 20px;
 /* position: fixed; */
 z-index: 18;

 background-color: #d0d0d0;
 overflow-x: hidden;
}
.section_wrap_archiv{
    display: flex;
    justify-content: center;
    height: 1300px;
}
.title_archive{
    color: var(--color-grey-green);
    font-weight: 400;
    font-size: 42px;
    line-height: 20px;

    margin:auto;
    padding-top: 30px;
    padding-bottom: 40px;}
.more{
    margin-top: 15px;

    color: var(--color-milk-);
    border: none;
    padding-left: 32px;
    padding-right: 33px;
    padding-top: 7px;
    padding-bottom: 9px;
    background-color: #386457;


}
.amore{
    border: none;
}
.header_archives{
    background-image: url(../img/bacgraundMaskS.jpg);
    background-repeat: no-repeat;
    width: max-content;
    height: 100%;
    height: 500px;
    margin: auto;
    width: 1920px;
    padding-top: 30px;
}

.title_text_publ{
  
    align-items: center;
    margin: auto;
    width: 1920px;
}
.wrap_frame{
    width: 719px;
    height: 461px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 149px;
}
.wrap_public{
    width: 719px;
    margin-left: auto;
    margin-right: auto;
}
.publication_text{
    width: 719px;
    padding-bottom: 30px;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: auto;
    
    color: rgba(0, 0, 0, 0.7);
   
}
.title_publ{
    color: var(--color-grey-green);
    font-weight: 400;
    font-size: 42px;
    line-height: 20px;
    text-align: start;
    margin-top: 80px;
    
    padding-bottom: 40px;
    
}
.heading{
    width: 570px;
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    
    color: rgba(255, 255, 255, 0.8);;
    background-color: #386457;
    border-radius: 1px;
    margin: auto;
    padding-left: 10px;
    outline: none;
    
    
}
.select_option{
    margin-bottom: 10px;

}
.select_option:hover,
.select_option:focus
{
    border: transparent;
    outline: none;
}


.form_publ{
    /* width: 900px; */
    display: flex;

}
.sect{
    width: 1920px;
   
    margin: auto;
}
.wrap_article{
    width: 570px;
    margin-left: 600px;
}
.input_text{
    width: 175px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #EFEFEF;
}

.input_text:first-child {
    margin-left: 0;
}
.input_text_form{
     background-color: #EFEFEF;
     height: 30px;
     width: 270px;
     border: none;
    outline: none;
}
.input_organiz{
    background-color: #EFEFEF;
    height: 30px;
    width: 553px;
    border: none;
    outline: none;
}
.input_text_form:first-child {
    margin-left: 0;
}
.input_coment{
    width: 770px;
    height: 200px;
    background-color: #EFEFEF;
    border: none;
    outline: none;
}
.input_coment:first-child {
    margin-left: 0;
}
.input_coments{
    width: 770px;
    height: 100px;
    background-color: #EFEFEF;
    border: none;
}
.input_coments:first-child{
    margin-left: 0;
}
.article::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 134.09%;
    color: rgba(0, 0, 0, 0.4);
    margin-left: 10px;
    margin-top: 5px;
}
.input_margin{
    margin: 10px;
    padding-left: 10px;
    
}
.attach{
    background: #E5E5E5;
    width: 300px;
    height: 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #386457;
    margin-bottom: 180px;
    margin-top: 40px;
    border: 1.5px solid #386457;
    border-radius: 1px;
}
.send{
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    width: 300px;
    height: 60px;
    background: #386457;
    border-radius: 1px;
    margin-bottom: 180px;
    margin-top: 40px;
    border: none;
}

.send_contact{
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    width: 300px;
    height: 60px;
    background: #386457;
    border-radius: 1px;
    margin-bottom: 180px;
    margin-top: 40px;
    border: none;
    margin-left: 30%;
}
.form_pub{
    width: 770px;
    display: flex;
    justify-content: space-between;
}
.form_contact{
    width: 770px;
    margin-left: auto;
    margin-right: auto;
}
.contacts_wrap_form{

}
.contact_flex{
    display: flex;
    justify-content: center; 
}
.maps_link{
    width: 770px;
    height: 510px;
}
.contact_us{
    width: 270px;
    height: 515px;
}
.wrapper_gallery{
    width: 1170px;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 30px;
    padding-bottom: 150px;
    padding-top: 100px;

}
.img_gallery{
    width: 370px;
    height: 250px;
    background: #C4C4C4;

}
.wpapper_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 150px;
    padding-top: 100px;
}
.title_content {
    color: var(--color-grey-green);
    font-weight: 400;
    font-size: 42px;
    line-height: 20px;

    margin: auto;
    padding-bottom: 40px;
   
}
.year{
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    
    color: #386457;
    padding-bottom: 35px;
}
.wrap_content{
    
}
.wrapp{
    width: 1920px;
    margin: auto;
}
.content_img{
    margin-left: 106px;
}
.table_contents{
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    
    color: #386457;
    padding-bottom: 10px;
}
.article_content{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
        
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 10px;
}
.wrap_contents{
    width: 800px;
    margin: auto;
    padding-bottom: 120px;
}
.download{
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
   
    text-align: center;
    color: #EFEFEF;
    background-color: #386457;
    text-decoration: none;
    
    padding: 19px 58px;
}
.wrap_cont {
    width: 800px;
    margin: auto;
    padding-bottom: 420px;
}
.statistics {
    display: flex;
    align-items: center;
    
    margin-bottom: 95px;
}

.wrap_stat_size{
    width: 970px;
    margin: auto;
}
.section_statistic{
   width: 1920px;
   margin: auto;

}
.statistics_scrol{
    display: flex;
        align-items: center;
    justify-content: center;
        margin-bottom: 30px;
}
.stats_title{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    /* text-align: right; */
    padding-bottom: 40px;
    color: #386457;
}
.stats_list{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    

    color: rgba(0, 0, 0, 0.7);
}
.stat_list{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    text-align: center;
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.7);
}
.stat_name{
    width: ;
    margin-right: 400px;
}
.stat_views{
    margin-right: 75px;
}
.article_statistic {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;

    color: rgba(0, 0, 0, 0.7);
    padding-right: 10px;
}
.article_statistics {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: rgba(0, 0, 0, 0.7);
     padding-right: 10px;
     padding-left: 5px;
}
.select{
    width: 570px;
    height: 210px;

}